.div-game {
  background: url("../images/background/bg-dbz2.png") no-repeat -220px;
  background-size: 1175px;
  width: $widthGame;
  height: $heightGame;
  margin: 15vh auto;
  border: 3px solid $borderColor;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

//---
.half-field {
  width: 50%;
  height: $heightGame;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: $backgroundColor;

  & > h3 {
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 60px;
    letter-spacing: 12px;
    text-shadow:
            -2px 0 5px black,
            0 -2px 5px black,
            2px 0 5px black,
            0 2px 5px black;
  }

  & > .scores p {
    font-size: 2.3rem;
    text-shadow:  
      -2px 0 black,
      0 -2px black,
      2px 0 black,
      0 2px black;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 15px 0;

    & > .scores-style {
    text-shadow:  3px 0 tomato,
                0 3px tomato,
                -3px 0 tomato,
                0 -3px tomato;
    color: darken($panelColor, 20%);
    }
  }

  & > .random-char {
    width: 60px;
    height: 60px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $textColor;
    border-radius: 5px;
    border: 5px solid $borderColor;
    color: $panelColor;
  }

  & > .btns {
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  & .player {
    margin-top: 30px;
  }
}

@mixin imgForPlayers($rotate) {
  //background-image: url("../images/player/c18.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotateY($rotate);
  height: 175px;
  width: 175px;
}
.player-img1 {
  @include imgForPlayers(0deg);
}

.player-img2 {
  @include imgForPlayers(180deg);
}

//---
.connection-info {
  //display: none;
  position: absolute;
  z-index: 4;
  top: $heightGame/2.2;
  left: auto;
  height: $heightGame/5;
  width: $widthGame/2;
  border: 3px solid $borderColor;
  border-radius: 10px;
  background-color: $inputColor;
  color: $textColor;
  animation: info-scale 2s 1s infinite linear;

  p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 15px;
  }
}

.timer {
  font-size: 2.7rem;
  font-weight: bold;
  position: absolute;
  letter-spacing: 1px;
  top: 105px;
  color: lighten($textColor, 7%);
}

.prepare {
  position: absolute;
  z-index: 5;
  color: $textColor;
  top: $heightGame/3.5;
  display: flex;
  justify-content: center;
  animation: prepare-count forwards 1s infinite;
  font-size: 9rem;
  font-weight: bold;
  letter-spacing: 3px;
}

@keyframes info-scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes prepare-count {
  from { transform: scale(0.75); opacity: 0; }
  15% { transform: scale(0.75); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
  85% { transform: scale(0.75); opacity: 0; }
  to { transform: scale(0.75); opacity: 0; }
}