.div-gameover {
  //background-color: $panelColor;

  background: url("../images/mr6.png") no-repeat center;
  background-size: cover;

  width: $widthGame;
  height: $heightGame;
  margin: 15vh auto;
  border: 3px solid $borderColor;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.game-over {
  padding: 70px 0;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 3px;
  animation: game-over-animation 2.5s 1s alternate forwards;
  color: transparent;
}

.game-winner {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: $textColor;
}

.text-winner {
  text-shadow:  0 0 0.1em tomato,
                0 0 0.1em tomato,
                0 0 0.1em tomato;
}

@keyframes game-over-animation {
  0% { transform: rotate(-1080deg) scale(0.05); color: tomato; }
  40% { transform: rotate(7deg) scale(1); color: tomato; }
  80% { transform: rotate(7deg) scale(1.07); color: $textColor; }
  100% { transform: rotate(0) scale(1); color: tomato; }
}