.audio {
  position: fixed;
  top: 35px;
  left: 35px;
  width: 50px;
  height: 50px;
  line-height: 54px;
  font-size: 28px;
  background-color: $panelColor;
  border-radius: 10px;
  cursor: pointer;
}
//************************
.div-login {
  background-color: $panelColor;
  width: 2*$width;
  height: 13*$height;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid $borderColor;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.div-login label {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 20px 0 5px 0;
  color: $textColor;
}

.div-login input[type='text'],
.select-player
{
  width: $width;
  height: $height;
  margin: 0 auto;
  font-size: 1.3rem;
  font-family: 'VT323', monospace;
  padding: 0 15px;
  font-weight: bold;
  background-color: $inputColor;
  color: $textColor;
  border-radius: 5px;
  border: 2px solid $borderColor;
  outline: none;
  position: relative;
}

.validation-icon {
  position: absolute;
  font-size: 30px;
  top: 75px;
  right: 60px;
}

//************************
.validation {
  position: absolute;
  border: 3px solid $borderColor;
  width: 200px;
  min-height: 62px;
  background-color: $backgroundColor;
  top: 207px;
  right: -120px;
  display: none;

  &:after {
    content: '';
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $borderColor;
    top: 18px;
    left: -23px;
  }

  p {
    font-size: 22px;
    margin: 0;
    letter-spacing: 1px;
    padding: 6px;
    color: darken($panelColor, 10%);

    &:first-child {
      color: darken($panelColor, 5%);
    }
  }
}

//************************
.online-players {
  margin-top: 12px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

//************************
.create-by {
  margin-top: 12px;

  p {
    font-size: 1.5rem;
    font-weight: bold;
    color: $backgroundColor;
  }

  span {
    color: darken($backgroundColor, 3%);
    display: inline-block;
    animation: logo-move infinite 2s linear;
  }
}

//************************
.instruction {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.6);
}

.instruction-center {
  background-color: $panelColor;
  width: 500px;
  height: 500px;
  margin: 12vh auto;
  color: #333;
  border: 5px solid $borderColor;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 12px;
  }

  ol {
    font-size: 28px;
    list-style: none;
    text-align: start;

    li {
      padding: 10px 40px;
    }
  }
}

.close-instruction {
  position: absolute;
  font-size: 65px;
  top: 12vh;
  right: calc(50% - 210px);
  transform: translate(50%);
  z-index: 1;

  &:hover {
    text-shadow: 0 0 3px;
    cursor: pointer;
  }

  &:active {
    transform: translate(50%) scale(1.25);
  }
}
