* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $rootSize;
}

body {
  //background-color: $backgroundColor;

  background: url("../images/background/bg-dbz.jpg") no-repeat center;
  background-size: 2400px;

  //font-family: 'Permanent Marker', cursive;
  font-family: 'VT323', monospace;

  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  text-align: center;
}

// p {
//   color: $textColor;
// }

//---
.disconnected,
.not-found
{
  & > p {
    margin-top: 10px;
    font-size: 2rem;
  }
  & > h3 {
    margin-top: 10px;
    font-family: 'Permanent Marker', cursive;
    color: $borderColor;
    letter-spacing: 3px;
    font-size: 1.8rem;
  }
}

